$white: #fff;
$black: #000;
$lightgrey: lightgrey;
$grey: grey;
$grey2: #edf2f9;
$grey3: #efefef;
$grey4: #495057;
$grey5: #dee2e6;
$grey6: #e9ecef;
$grey7: #ccc;
$grey8: #eaeaea;
$grey9: #d2d2d2;
$grey10: #6c757d;
$darkBlue: #1a2530;
$darkblue2: #223140;
$green: #0f852c;
$lightgreen: #1a9739;
$darkgreen: #097524;
$greenshade: #4caf50;
$red: red;
$indigo: indigo;
$alertInfoFont: #0c5460;
$alertInfoBg: #d1ecf1;
$alertInfoBorder: #bee5eb;
